<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Proyecto DEW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>location</param-name>
    <param-value>logs.log</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>log0</display-name>
    <servlet-name>log0</servlet-name>
    <servlet-class>log0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log0</servlet-name>
    <url-pattern>/log0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>log1</display-name>
    <servlet-name>log1</servlet-name>
    <servlet-class>log1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log1</servlet-name>
    <url-pattern>/log1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>log2</display-name>
    <servlet-name>log2</servlet-name>
    <servlet-class>log2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log2</servlet-name>
    <url-pattern>/log2</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>LoginFilter</filter-class>
    <init-param>
      <param-name>logPath</param-name>
      <param-value>/home/user/tomcat/logs/log.log</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Alumno.html</url-pattern>
    <url-pattern>/Profesor.html</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area Alu</web-resource-name>
      <url-pattern>/Alumno.html</url-pattern>
      
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area Pro</web-resource-name>
      <url-pattern>/Profesor.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/Login.html</form-login-page>
      <form-error-page>/algo.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>rolalu</role-name>
  </security-role>
  <security-role>
    <role-name>rolpro</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>AlumnoFuncionalidades</display-name>
    <servlet-name>AlumnoFuncionalidades</servlet-name>
    <servlet-class>AlumnoFuncionalidades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoFuncionalidades</servlet-name>
    <url-pattern>/AlumnoFuncionalidades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfesorFuncionalidades</display-name>
    <servlet-name>ProfesorFuncionalidades</servlet-name>
    <servlet-class>ProfesorFuncionalidades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfesorFuncionalidades</servlet-name>
    <url-pattern>/ProfesorFuncionalidades</url-pattern>
  </servlet-mapping>
</web-app>